.content-card ::ng-deep mat-card  {
  height: 240px;
}

.mat-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.arrow-back {
  position: absolute;
  bottom: 16px;
  left: 16px;
  cursor: pointer;
  font-size: 30px;
}

.arrow-forward {
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 30px;
}

.title-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 92%;
}

.card-content {
  height: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 16px;
  color: grey;
}