<div class="overall-containter">
  <div class="container">
    <div class="row cards-box">
      <div class="col-4">
        <div class="card-container">
          <div class="title-container mb-3 fw-bold bg-blue">To do</div>
          <p class="text-center text-uppercase" *ngIf="!cards.toDoCards.length">no tasks</p>
          <card *ngFor="let card of cards.toDoCards" [cardData]="card" [backArrow]="false"></card>
        </div>
      </div>
      <div class="col-4">
        <div class="card-container">
          <div class="title-container mb-3 fw-bold bg-yellow">Doing</div>
          <p class="text-center text-uppercase" *ngIf="!cards.doingCards.length">no tasks</p>
          <card *ngFor="let card of cards.doingCards" [cardData]="card"></card>
        </div>
      </div>
      <div class="col-4">
        <div class="card-container">
          <div class="title-container mb-3 fw-bold bg-green">Done</div>
          <p class="text-center text-uppercase" *ngIf="!cards.doneCards.length">no tasks</p>
          <card *ngFor="let card of cards.doneCards" [cardData]="card" [frontArrow]="false"></card>
        </div>
      </div>
    </div>
  </div>
</div>
