<div class="overall-containter">
  <div class="container">
    <div class="row cards-box">
      <div class="col-4">
        <div class="card-container">
          <div class="title-container bg-blue">To do</div>
          <span *ngIf="!cards.toDoCards.length">Nenhuma Tarefa</span>
          <card *ngFor="let card of cards.toDoCards" [cardData]="card" [backArrow]="false"></card>
        </div>
      </div>
      <div class="col-4">
        <div class="card-container">
          <div class="title-container bg-yellow">Doing</div>
          <span *ngIf="!cards.doingCards.length">Nenhuma Tarefa</span>
          <card *ngFor="let card of cards.doingCards" [cardData]="card"></card>
        </div>
      </div>
      <div class="col-4">
        <div class="card-container">
          <div class="title-container bg-green">Done</div>
          <span *ngIf="!cards.doneCards.length">Nenhuma Tarefa</span>
          <card *ngFor="let card of cards.doneCards" [cardData]="card" [frontArrow]="false"></card>
        </div>
      </div>
    </div>
  </div>
</div>
