<div class="overall-containter">
  <div class="container">
    <div class="row">
      <div class="col-4">
        To Do
      </div>
      <div class="col-4">
        Doing
      </div>
      <div class="col-4">
        Done
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <card *ngFor="let card of cards.toDoCards" [cardData]="card" [backArrow]="false"></card>
      </div>
      <div class="col-4">
        <card *ngFor="let card of cards.doingCards" [cardData]="card"></card>
      </div>
      <div class="col-4">
        <card *ngFor="let card of cards.doneCards" [cardData]="card" [frontArrow]="false"></card>
      </div>
    </div>
  </div>
</div>
