<h1 mat-dialog-title>Create new task</h1>
<div mat-dialog-content>
  <p class="mb-0">Title</p>
  <mat-form-field appearance="fill" class="w-100">
    <input cdkFocusInitial matInput [(ngModel)]="title">
  </mat-form-field>
  <p class="mb-0">Content</p>
  <mat-form-field appearance="fill"  class="w-100">
    <textarea matInput [(ngModel)]="content" class="w-100 text-area"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions  class="w-100 d-flex justify-content-between">
  <button class="text-uppercase ms-5" mat-raised-button color="warn" (click)="closeDialog()">Cancel</button>
  <button class="text-uppercase me-5" mat-raised-button color="primary" [disabled]="!title.length || !content.length" (click)="onSendData()" [mat-dialog-close]="'hello'">Ok</button>
</div>
