@import "~bootstrap/dist/css/bootstrap.css";
:root {
    --bs-font-sans-serif: 'Roboto', sans-serif;
    --color-blue: #5279C2;
    --color-yellow: #E2B668;
    --color-green: #5ABB5F;
    --color-red: #F56151;
}